.container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 0px;
}

.item {
  background-color: orange;
  height: 80px;
  width: 100px;
  margin: 0px;
  background-color: rgb(126, 229, 218);
  text-align: center;
}

.logo {
  justify-content: center;
  align-items: center;
}

.img {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: center;
  margin: 5px;
}

.item-1 {
  background-color: gainsboro;
  flex-basis: 100%;
  height: 20%;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 4rem;
  margin-bottom: 3px;
}

.item-2 {
  flex-grow: 3;
  margin-right: 3px;
  text-align: center;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-3 {
  flex-grow: 1;
  margin-right: 3px;
  text-align: center;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-4 {
  flex-grow: 3;
  margin-right: 4rem;
  text-align: center;
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.p3 {
  padding: 0px;
  margin: 0px;
}
.butons {
  padding: 0px;
  margin: 0px;
}

.search {
  width: 300px;
}
.mailtext {
  width: 200px;

}
.font {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}
